{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<div class="pagetitle">
  <h1>Statistika</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'main:main_app' %}">Asosiy</a></li>
      <li class="breadcrumb-item active">Sahifa</li>
    </ol>
  </nav>
</div>
<section class="section dashboard">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">

            <div class="card-body">
              <h5 class="card-title">Eng ko'p sotilgan pechka</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ most_sold_product }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">


            <div class="card-body">
              <h5 class="card-title">Eng kam sotilgan pechka</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ least_sold_product }}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">

          <div class="card info-card customers-card">

            <div class="card-body">
              <h5 class="card-title">Chiqim <span>| Shu oy</span></h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{ total_sales_amount }}</h6>
                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Sotuvlar <span>| Nasiyalar</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mijoz ismi</th>
                    <th scope="col">Olgan pechkasi</th>
                    <th scope="col">Summasi</th>
                    <th scope="col">Holati</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in objects %}
                  <tr>
                    <th scope="row"><a href="#">#{{ i.id }}</a></th>
                    <td>{{ i.customer_name }}</td>
                    <td>{{ i.product.category.name }}</td>
                    <td>{{ i.sum_ }} {{ i.currency }}</td>
                    <td>To'lanmagan</td>
                    <td>
                      <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="sale" value="{{ i.id }}">
                        <button  type="submit" class="btn btn-danger pay" name="pay">To'lash</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div><!-- End Recent Sales -->

        <!-- Top Selling -->
     
      </div>
</section>
{% endblock content %}